# INFO AIDTECH

# TASK 2:  Movie Recommendation System

In [ ]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('movies.csv')

In [ ]:
df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [ ]:
df = pd.read_csv('movies.csv',usecols=['movieId','title'])

In [ ]:
df.head(10)

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

In [ ]:
ratings = pd.read_csv('ratings.csv',usecols=['userId','movieId','rating'] )

In [ ]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
ratings.pivot(index='movieId',columns='userId',values='rating')

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
movies_users = ratings.pivot(index='movieId',columns='userId',values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
mat_movies = csr_matrix(movies_users.values)

In [ ]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [ ]:
from fuzzywuzzy import process

In [ ]:
def recommender(movie_name,data,n):
  idx= process.extractOne(movie_name,df['title'])[2]
  print('Movies selected : ',df['title'][idx],'Index: ',idx)
  print('please wait....')
  distance, indices = model.kneighbors(data[idx],n_neighbors=n)
  for i in indices:
    print(df['title'][i].where(i!=idx))
    print(distance,indices)

In [ ]:
recommender('waiting to exhale',mat_movies, 10)

Movies selected :  Waiting to Exhale (1995) Index:  3
please wait....
3                                                    NaN
100           Rumble in the Bronx (Hont faan kui) (1995)
294                          Vanya on 42nd Street (1994)
747                                    Women, The (1939)
752                        Affair to Remember, An (1957)
209    Far From Home: The Adventures of Yellow Dog (1...
612      Haunted World of Edward D. Wood Jr., The (1996)
282    Strawberry and Chocolate (Fresa y chocolate) (...
317                   Four Weddings and a Funeral (1994)
445                                Mrs. Doubtfire (1993)
Name: title, dtype: object
[[0.         0.45237057 0.54382845 0.54382845 0.54382845 0.54382845
  0.54382845 0.54382845 0.54382845 0.54382845]] [[  3 100 294 747 752 209 612 282 317 445]]

In [ ]:
mve=input("enter the movie name to show similar 10 movies : ")
recommender(mve,mat_movies, 10)

enter the movie name to show similar 10 movies : iron man
Movies selected :  Iron Man (2008) Index:  7714
please wait....
8545                            Cosmos (1980)
5585            Drums Along the Mohawk (1939)
9321           Cabin in the Woods, The (2012)
9616                      Maniac Cop 2 (1990)
8990                 Midnight in Paris (2011)
7108                          Accepted (2006)
7057       Leonard Cohen: I'm Your Man (2005)
9117    Cold Fish (Tsumetai nettaigyo) (2010)
8151                              Home (2009)
4940              Under the Tuscan Sun (2003)
Name: title, dtype: object
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]] [[8545 5585 9321 9616 8990 7108 7057 9117 8151 4940]]

In [ ]:
print(f'THE ABOVE MOVIES ARE SIMILAR TO {mve} movies')

print("THANK YOU")

THE ABOVE MOVIES ARE SIMILAR TO iron man movies
THANK YOU